
<!doctype html>
<html lang="pl" lang="pl-pl">
<head>
	<title>{{ page.title }}</title>
	<link href="http://inf.ug.edu.pl/~igniech/atom.xml" rel="alternate" 
         title="Iwonka" type="application/atom+xml" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/print.css" type="text/css"  media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>



<div class="site span-21">
  
  {{ content }}

</div>

</body>
</html>
